* {
    margin: 0px;
    font-family: "inter";
}

html {
    overflow-x: hidden;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%
}

#menu1 {
    width: 1440px;
    height: 475px;
    left: 0px;
    top: 0px;
    background: url(imagens/fundo_menu_1.svg);

}

#titulomenu1 {
    margin-left: 90px;
    padding-top: 150px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.025em;
    
}

#textomenu1 {
    margin-left: 90px;
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}


#menuinformacional{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}
    


.bolder{
    font-weight: bolder;
    font-size: 40px;
    margin-left: 60px;
}

#titulo_menu_2{
    font-weight: bolder;
    font-size: 30px;
}

#paragrafo_menu_2{
    font-size: 21px;
}

.text{
    margin-left: 60px;
}

#imagem{
    position: absolute;
    width: 510px;
    height: 605px;
    left: 876px;
    top: 781px;
    background: url(imagens/imagem_menu_texto.svg);
    border-radius: 30px;
    
}

#menutexto{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}

#texto_menu2{
    padding-top: 250px;
}

#formulario {
    text-align: center;
    background-color: #303030;
    padding-top: 50px;


}

#tituloformulario {
    font-size: 20px;
    margin: 25px;
    color: #FFFFFF;
    margin-right: 25px;

}

input {
    width: 300px;
    height: 40px;
    background-color: #ffffff;
    margin: 15px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

button {
    background-color: #C07212;
    height: 40px;
    width: 250px;
    color: #EAECE5;
    border: 0px;
    border-radius: 5px;
    margin-top: 20px ;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
    

}
/* 
button:hover {
    background-color: #2c95c2;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 15px 20px #142779;
}
    */